.topArrangement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.panelDiv {
    background-color: lightgrey;
    border-radius: 30px;
}

.fotoDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.deleteCircularDiv {
    position: absolute;
    font-size: 30px;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}